.mygradient-afiliados {
    background-color: transparent;
    background: radial-gradient(at top right, rgba(27, 37, 94, 0.5) 10%, rgba(0, 0, 0, 0.981) 40%),
        radial-gradient(at bottom left, rgba(27, 37, 94, 0.5) 10%, rgba(0, 0, 0, 0.999) 40%);
    background-blend-mode: screen;
    padding-top: 20px; 
}

.mytitle-afiliados {
    text-align: center;
    background: linear-gradient(45deg, rgba(255, 201, 253, 100%), rgba(37, 138, 192, 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 35px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: bold;
    color: transparent;
    letter-spacing: 3px;
}

.table-container {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

table {
    width: 80%;
    font-size: 14px;
    margin-bottom: 100px;    
}

table,
th,
td {
    color: white;
    border: 1px solid #1B255E;
    border-collapse: collapse;
}

th,
td {
    padding: 80px;
}

th {
    text-align: center;
}

th:hover {
    background-color: #1B255E;
    transition: background-color 0.1s ease;
    cursor: pointer;
}


/* Media query para tamaños de pantalla más pequeños */

@media screen and (max-width: 768px) {
    .mytitle-afiliados {
        font-size: 28px; 
    }

    table {
        width: 100%;
        font-size: 12px; 
    }

    th,
    td {
        padding: 20px; 
    }
    td {
        display: block; 
        width: 100%; 
        box-sizing: border-box; 
    }
}


/* Media query para tabletas en orientación horizontal (landscape) y vertical (portrait) */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .mytitle-afiliados {
        font-size: 32px; 
    }

    table {
        width: 80%;
        font-size: 14px; 
    }

    th,
    td {
        padding: 40px; 
    }
}

