
.title-footer {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: bold;
  color: transparent;
  background: linear-gradient(5deg, rgba(230, 60, 8, 0), rgba(255, 201, 253, 1), rgba(230, 60, 8, 0));
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 3px;
  margin-left: 20px;
}


.footer-column1 {
    padding: 0;
  }
  
  .footer-column1 h2 {
    text-align: right;
    margin-bottom: 10px;
    margin-right: 45px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 3px;
  }
  
  .footer-column1 p {
    margin-bottom: 5px; 
    text-align: left;
    margin-left: 320px;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
  }
  
  .footer-column2 {
    padding: 0;
  }
  
  .footer-column2 h2 {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 3px;
  }
  
  .footer-column2 p {
    margin-bottom: 5px; 
    text-align: left;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    margin-left: 30px;
  }

  #Suscribirse::placeholder {
    color: #ccc; 
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    font-size: 12px;
  }


.custom-border-top {
    position: relative;
  }
  
  .custom-border-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1250px;
    height: 1px;
    background-image: linear-gradient(45deg, rgba(255, 201, 253, 100%), rgba(37, 138, 192, 0.8));
    transform: translateX(-50%);
  }
  


  @media (max-width: 768px) {
    
    body {
      overflow-x: hidden;
    }
  
    .container-fluid,
    .row {
      padding: 0;
      margin: 0 auto;
    }
  
    .col-12 {
      text-align: center;
    }
  
    .title-footer {
      font-size: 20px;
      margin: 10px 0;
    }
  
    .col-12 img {
      max-width: 100%; 
      height: auto; 
      margin-top: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      display: none !important;
    }
  
    .footer-column1,
    .footer-column2,
    .col-12 {
      margin: 10px auto;
      text-align: center;
    }
  
    .footer-column1 h2,
    .footer-column2 h2 {
      margin-bottom: 10px;
      font-size: 16px;
      text-align: center;
      display: none !important;
    }
  
    .footer-column1 p,
    .footer-column2 p {
      
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  
    #Suscribirse {
      width: 70%; 
    }
  
    .form-label {
      font-size: 14px; 
    }
  
    .btn {
      width: 70%;
      margin-top: 10px;
    }
  
    #Suscribirse::placeholder {
      font-size: 10px;
    }
  
    .custom-border-top::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(45deg, rgba(255, 201, 253, 100%), rgba(37, 138, 192, 0.8));
      transform: translateX(-50%);
    }
  
    .d-flex {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  
  .logo-img {
    width: 70px;
    margin-left: 75px;
    filter: invert(10%) sepia(10%) hue-rotate(180deg) saturate(200%) brightness(150%) contrast(150%);
    opacity: 0.7; 
  }