.animated-container {
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
  }
  
  .animated-container:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      315deg,
      rgb(101, 0, 10) 3%,
      rgba(60, 132, 206, 1) 38%,
      rgb(25, 195, 107) 68%,
      rgb(27, 5, 5) 98%
    );
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    z-index: -1;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: absolute;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 30%;
    left: 0;
    z-index: -1;
  }
  
  .wave:nth-of-type(2) {
    bottom: 15%;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
  }
  
  .wave:nth-of-type(3) {
    bottom: 5%;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
  }
  
  @keyframes wave {
    2% {
      transform: translateX(0);
    }
  
    25% {
      transform: translateX(-25%);
    }
  
    50% {
      transform: translateX(-50%);
    }
  
    75% {
      transform: translateX(-25%);
    }
  
    100% {
      transform: translateX(0);
    }
  }