/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

.background1 {
    background: linear-gradient(to top right, #6A0DAD 40%, #000000 60%);
}



.contenedor12 {

    width: 50%;
    height: 400px;

}

.contenedor2 {
    width: 100%;
    background: linear-gradient(to bottom right, #6A0DAD 40%, #000000 60%);
}
.contenedor3 {
    width: 100%;
    background: 
        radial-gradient(circle at top left, #6A0DAD 5%, transparent 20%) top left,
        radial-gradient(circle at bottom right, #6A0DAD 10%, transparent 40%) top right,
        linear-gradient(to bottom right, #000000, #000000);
}

 .qr{
    width: 300px;
    margin-top: 160px;
 }